h1{
    border-radius: 10px;
    font-size: 45px;
    padding: 5px; 
    text-align: center;
}
body{
    background-color: #2f3238;  
    font-family: 'Raleway', sans-serif;
    color: azure;
} 
.headder{
  display: flex;
  flex-direction: row; 
  align-items: center; 
  justify-content: space-around;
} 
.buscador{
  height: 25px; 
  width: 400px; 
  margin-left: 10px; 
} 
.labelbuscador{
  margin-left: 5px;
  align-items: baseline; 

}
.wrapper {
display: flex;
flex-direction: row; 
width: 100%; 
align-items: center;
} 
.imagen{
    width: 200px;
    height: 200px;
    border-radius: 5px; 
    object-fit: cover;
} 
.sinbotones{
    margin-bottom: 15px;
} 
.gridelement{ 
  background-color: #686c74;
    border: 2px ;
    border-style:solid;
    border-radius: 15px; 
    padding: 15px; 
    margin: 15px;    
} 
.gridelement:hover,
.gridelement:focus{ 
  box-shadow: 0px 5px 5px azure;  
  transform: translateY(-0.35em); 
  background-color: ; 
}
.cardtext{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.precio{
    font-size: large;
    font-weight: bold;
}

.porcentaje{
    font-size: large;
    font-weight: bold;
}

a{
  text-decoration: none; 
  color: azure; 
  font-size: 15px;
}
.menubar{
  text-align: right;
  margin-right: 40px;
} 
.divbuttoncard{
}
.buttoncard{
  padding: 10px, 45px, 10px, 45px;
  border-radius: 5px; 
}
.button{
  margin-left: 10px;
  background-color: #686c74; 
  border: 0px;
  border-radius: 7px; 
  padding: 7px; 
  color: azure;  
  text-transform: uppercase;
}
.button:hover,
.button:focus{ 
  box-shadow: 0px 3px 3px  ;   
  transform: translateY(-0.35em); 
} 
.cargadorDeProducto{
  margin-left: 10px;
  background-color: #686c74; 
  border: 0px;
  border-radius: 7px; 
  padding: 7px; 
  color: azure; 
} 